.fondoP{
    border: 2px solid black;
}

.nopadding{
    margin: 0 !important;
    padding: 0 !important;
}

#headerText{
    text-align: center;
}

#botonForm{
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: darkseagreen;
}